/* Portfolio styles */
.content h1 {
    color: rgb(232, 10, 248);
  }
  
  #portfolio {
    list-style-type: none;
    padding-left: 0;
  }
  
  #portfolio li {
    background: #fffb1b;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  #portfolio li:hover {
    background: #d11cf6;
  }
  
  #portfolio a {
    text-decoration: none;
    color: #454545;
  }